#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  color: #ffffff;
}
 
body {
  margin: 0;
  /* display: flex; */
  place-items: left;
  background-color: #262217!important;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #e4e4e4!important;;
}

.styled-table-scope{
  border-radius: 15px;
  border: 0.5px solid #444!important;
  overflow-x: hidden;
}
.styled-table{
  border-radius: 15px;
}

.styled-table th,
.styled-table td {
  border-color: #444!important;
  padding: 18px 10px!important;
  min-width: 200px!important;
}
strong {
  /* font-weight: 700; */
}
.styled-table th{
  font-weight: 500;
  font-size: .97rem;
  color: #e4e4e4;
}
.styled-table td{ 
  font-size: .9rem;
  color: #e4e4e4;
}


.styled-table th:nth-of-type(1),
.styled-table td:nth-of-type(1) { 
  padding: 18px 15px 18px 0!important;
  min-width: 200px!important;
}

.dark-input {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

.divider-item{
  margin-left: 25px;
  margin-right: 25px;
}

.styled-table td.text-right{ 
  text-align: right!important;
  padding-right: 59px!important;
}

input::placeholder {
  color: #888!important; 
}

option[disabled] {
  color: #888888!important; 
}